[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012-2017 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]
[% IF template.name == 'list/list.html.tmpl'
    AND user.id AND Param('bvp_inline_editor') %]
  <script type="text/javascript"
    src="[% 'extensions/BugViewPlus/web/js/inline_editor.js' FILTER mtime %]">
  </script>
  <link rel="stylesheet"
    href="[% 'extensions/BugViewPlus/web/css/inline_editor.css' FILTER mtime %]" />
  <script type="text/javascript">
    var INLINE_EDIT_COLUMNS = [
    [% FOREACH column = displaycolumns %]
      "[% column FILTER js %]",
    [% END %]
    ];
  </script>
[% END %]

[% IF template.name == 'bug/create/create.html.tmpl' ||
      template.name == 'pages/quickideas/enter.html.tmpl' %]
<link rel="stylesheet"
    href="[% 'extensions/BugViewPlus/web/css/templates.css' FILTER mtime %]" />
  <script type="text/javascript"
    src="[% 'extensions/BugViewPlus/web/js/templates.js' FILTER mtime %]">
  </script>
  <script type="text/javascript">
    var BVP_TEMPLATES = [% bvp_templates_json FILTER none %];
  </script>
[% END %]
