[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% IF can_edit_description %]
<script type="text/javascript">

var bvp_comment_order = "[% sort_order FILTER js %]";

[% SET d = sort_order == 'newest_to_oldest' ? comments.size - 1 : 0 %]
var bvp_original_description = "[% comments.${d}.body FILTER js %]";
var bvp_description_element = $(".bz_comment_table div.bz_comment[%
        d == '0' ? ':first' : ':last' %]");

function toggle_comment_edit()
{
    var editor = bvp_description_element.find("#bvp_description_edit");

    if (editor.size() == 0) {
        $(this).text("cancel")
            .attr("title", "Cancel description changes");
        editor = $("<textarea/>")
            .attr("id", "bvp_description_edit")
            .attr("name", "bvp_description")
            .attr("cols", 80)
            .attr("rows", 25)
            .text(bvp_original_description);
        bvp_description_element.find("pre.bz_comment_text")
            .after(editor).hide();
    } else {
        $(this).text("edit")
            .attr("title", "Edit description")
        editor.remove();
        bvp_description_element.find("pre.bz_comment_text").show();
    }
    return false;
}

$(function() {
    // Add edit description link
    $('<a href="#">edit</a>')
        .prependTo(bvp_description_element.find(".bz_comment_actions"))
        .attr("title", "Edit description")
        .before(" [").after("] ")
        .click(toggle_comment_edit);

    // Add last comment link
    $("ul.bz_collapse_expand_comments").append(
        '<li><a href="#c[% comments.size - 1 %]">To latest comment</a></li>');
});

</script>

[% END %]

