[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[% IF user.id AND Param("bvp_simple_bug_view") %]
<tr><td>

<script type="text/javascript">

// Toggle display mode between simple info and editor views
function toggleBugEditor()
{
    // Togle element visibility
    var editForm = $("table.edit_form").toggle();
    $("table#bug_simple_info").toggle();
    // Change the toggle button text
    var toggleButton = $("span#toggleEdit");
    $("a", toggleButton).text(
            $("table#bug_simple_info:visible").size() ?
            "Show editor" : "Hide editor");
    // Move comment box depending on the view
    if ($("table#bug_simple_info").css("display") == "none") {
        $("table#bz_big_form_parts").insertAfter("table.edit_form");
        $("div.bz_group_visibility_section,div.bz_add_comment").show();
        $("div#add_comment").appendTo("table#bz_big_form_parts td:first");
        $.cookie("hideBugEditor", null);
    } else {
        $("table#bz_big_form_parts").insertAfter("div#comments");
        $("div.bz_group_visibility_section,div.bz_add_comment").hide();
        $("div#add_comment").prependTo("table#bz_big_form_parts td:first");
        $.cookie("hideBugEditor", true);
    }
    editForm.after(toggleButton);
}

// Initialize simple info view
$(function() {
    var toggleButton = $('<span id="toggleEdit">[<a href="#">Hide editor</a>]</span>')
        .css("float", "right");
    $("table.edit_form").after(toggleButton);
    $("a", toggleButton).click(toggleBugEditor);
    $("div.bz_alias_short_desc_container").after($("#bug_simple_info"));
    if ($.cookie("hideBugEditor")) {
        toggleBugEditor();
    }
});

</script>

<table id="bug_simple_info" style="display: none;">
<tr><td valign="top"><table>
[% show_fields = Param("bvp_simple_bug_fields").split('\s*,\s*') %]
[% FOREACH name IN show_fields %]
[% IF name == '#' %]
    </table></td><td valign="top"><table>[% NEXT %]
[% END %]
<tr>
    [% SWITCH name %]
        [% CASE ['assigned_to', 'qa_contact', 'reporter'] %]
            <th class="field_label">
                <b><a href="page.cgi?id=fields.html#[% name %]">
                [% bug_fields.${name}.description %]</a></b>:
            </th>
            <td>[% INCLUDE global/user.html.tmpl who = bug.${name} %]</td>

        [% CASE 'importance' %]
            <th class="field_label">
                <a href="page.cgi?id=fields.html#importance">Importance</a>:
            </th>
            <td>
            [% INCLUDE bug/field.html.tmpl
                bug = bug, field = select_fields.priority,
                no_tds = 1, value = bug.priority
                editable = 0 %]
            [%+ INCLUDE bug/field.html.tmpl
                bug = bug, field = select_fields.bug_severity,
                no_tds = 1, value = bug.bug_severity
                editable = 0 %]
            [% IF bug.use_votes %]
                <span id="votes_container">
                [% IF bug.votes %]
                    with
                    <a href="votes.cgi?action=show_bug&amp;bug_id=[% bug.bug_id %]">
                    [% bug.votes %] vote[% "s" IF bug.votes > 1 %]</a>
                [% END %]
                (<a href="votes.cgi?action=show_user&amp;bug_id=
                    [% bug.bug_id %]#vote_[% bug.bug_id %]">vote</a>)
                </span>
            [% END %]
            </td>
        [% CASE %]
            [% TRY %]
                <th class="field_label">
                    <a href="page.cgi?id=fields.html#[% name FILTER html %]">
                        [%- field_descs.${name} FILTER html %]</a>:
                </th>
                <td>
                [% INCLUDE bug/field.html.tmpl
                    bug = bug, field = bug_fields.${name},
                    value = bug.${name}, editable = 0,
                    no_tds = 1 %]
                </td>
            [% CATCH %]
                <td>Failed to display field '[% name %]'</td>
            [% END %]
    [% END %]
</tr>
[% END %]
</table></td></tr>
</table>
</td></tr>
[% END # Simple bug view %] 
