[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[% IF user.id AND Param("bvp_simple_bug_view") %]
<tr>
  <td>
    <button id="bvp_toggle_editor" type="button"
            style="float:right;">
        <span class="hide-text">Hide advanced fields</span>
        <span class="show-text"
              style="display:none;">Show advanced fields</span>
    </button>
    <script type="text/javascript">
    $(function() {
      bvpInitEditorToggle("[% Param('bvp_simple_bug_fields') FILTER js %]",
        "remember");
    })
    </script>
  </td>
</tr>
[% END # Simple bug view %] 
